@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geostar+Fill&display=swap');

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    width: 100vw;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Geostar Fill", serif;
    margin: 0;
    padding: 2rem;
    &:hover {
        color: red;
        cursor: pointer;
        background-image: url(../../assets/daftavatar.gif);
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    width: 25%;
    a {
        font-size: 1rem;
        cursor: pointer;
        color: white;
    }
}

