.homepage-con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.homepage-main {
    display: flex;
    height: 50%;
    width: 50%;
    background-color: black;
}
